@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-4px, 4px); }
  40% { transform: translate(-3px, -3px); }
  60% { transform: translate(3px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0, 0); }
}

.screen-shake-sword {
  animation: shake 0.05s;
}